<md-sidenav-container>
  <md-sidenav mode="side" opened="true">
    <md-list>
      <h3 md-subheader>Project</h3>
      <md-list-item>Dashboard</md-list-item>
      <md-list-item>Teams</md-list-item>
      <md-list-item>Users</md-list-item>
      <md-list-item>Settings</md-list-item>
      <h3 md-subheader>User</h3>
      <md-list-item>Profile</md-list-item>
      <md-list-item>Settings</md-list-item>
    </md-list>
  </md-sidenav>
  <div class="my-content">
    <md-toolbar>
      <span>First Row</span>

      <md-toolbar-row>
        <span>Second Row</span>
      </md-toolbar-row>
    </md-toolbar>
  </div>
</md-sidenav-container>
